[submodule "metaanalysis_screening"]
	path = metaanalysis_screening
	url = https://github.com/c-noonan-02/metaanalysis_screening.git
[submodule "metaanalysis_extraction"]
	path = metaanalysis_extraction
	url = https://github.com/c-noonan-02/metaanalysis_extraction.git
[submodule "metaanalysis_analysis"]
	path = metaanalysis_analysis
	url = https://github.com/c-noonan-02/metaanalysis_analysis.git
[submodule "metaanalysis_raw_data"]
	path = metaanalysis_raw_data
	url = https://github.com/c-noonan-02/metaanalysis_raw_data.git
